[submodule "Sources/PlanetSiteTemplates/Resources/gamedb"]
	path = Sources/PlanetSiteTemplates/Resources/gamedb
	url = https://github.com/Planetable/SiteTemplate8bit.git
[submodule "Sources/PlanetSiteTemplates/Resources/plain"]
	path = Sources/PlanetSiteTemplates/Resources/plain
	url = https://github.com/Planetable/SiteTemplatePlain.git
[submodule "Sources/PlanetSiteTemplates/Resources/grid"]
	path = Sources/PlanetSiteTemplates/Resources/grid
	url = https://github.com/Planetable/SiteTemplateGrid
[submodule "Sources/PlanetSiteTemplates/Resources/croptop"]
	path = Sources/PlanetSiteTemplates/Resources/croptop
	url = https://github.com/Planetable/SiteTemplateCroptop
[submodule "Sources/sepia"]
	path = Sources/PlanetSiteTemplates/Resources/sepia
	url = https://github.com/Planetable/SiteTemplateSepia
[submodule "Sources/PlanetSiteTemplates/Resources/memories"]
	path = Sources/PlanetSiteTemplates/Resources/memories
	url = https://github.com/Planetable/SiteTemplateMemories
