[submodule "Sources/PlanetSiteTemplates/Templates/gamedb"]
	path = Sources/PlanetSiteTemplates/Templates/gamedb
	url = https://github.com/Planetable/SiteTemplate8bit
[submodule "Sources/PlanetSiteTemplates/Templates/plain"]
	path = Sources/PlanetSiteTemplates/Templates/plain
	url = https://github.com/Planetable/SiteTemplatePlain
[submodule "Sources/PlanetSiteTemplates/Templates/grid"]
	path = Sources/PlanetSiteTemplates/Templates/grid
	url = https://github.com/Planetable/SiteTemplateGrid
[submodule "Sources/PlanetSiteTemplates/Templates/croptop"]
	path = Sources/PlanetSiteTemplates/Templates/croptop
	url = https://github.com/Planetable/SiteTemplateCroptop
[submodule "Sources/PlanetSiteTemplates/Templates/sepia"]
	path = Sources/PlanetSiteTemplates/Templates/sepia
	url = https://github.com/Planetable/SiteTemplateSepia
